*{
    margin:0;
    padding:0;
}

body{
    background-color:#6495ED !important;
}

h4{
    text-align: center;
}

h3{
    border:2px solid black;
    text-align: center;
}

h5{
    text-align: center;
}

h2{
    text-align: center;
}

#startBox{
    border:10px dotted black;
    margin-left:110px;
    margin-top:10px;
}

.start{
    position:absolute;
    top:50%;
    left:30%;
    border:4px solid black;
    background-color: black;
    color:white;
    width:300px;
    text-align: center;
}

.box-1{
    border: 2px solid black;
    padding:20px;
    margin-top:40px;
    margin-left:-150px;
    overflow:hidden;
    background:white;
}

.box-2{
    border: 2px solid black;
    padding:20px;
    margin-top:40px;
    margin-left:-150px;
    overflow:hidden;
    background:white;
}

.box-3{
    border: 2px solid black;
    overflow:hidden;
    background:white;
    height:655px;
    margin-top:40px;
    margin-right:-120px;
    background-image: url("../images/HEROS.jpg");
    background-size: cover;
    position:relative;
}

#southPark{
    margin-top:50px;
    margin-left:50px;
}

.progress{
    margin-top: 15px;
}



#bus_stop{
    padding:10px;
    width:100%;
    height:185px;
    position:relative;
}

#cityhall{
    padding:10px;
    width:100%;
    height:185px;
    position:relative;
    float:right;
}

#citywok{
    padding:10px;
    width:100%;
    height:185px;
    position:relative;
}

#school{
    padding:10px;
    width:100%;
    height:185px;
    position:relative;
    float:right;
}

#cartman{
    padding:10px;
    width:100%;
    height:185px;
    position:relative;
}

#kenny{
    padding:10px;
    width:100%;
    height:185px;
    position:relative;
    float:right;
}

#kyle{
    padding:10px;
    width:100%;
    height:185px;
    position:relative;
}

#stan{
    padding:10px;
    width:100%;
    height:185px;
    position:relative;
    float:right;
}

#hero_character{
    height:300px;
    margin-top:200px;
    margin-left:40px;
    position: absolute;
}

#enemy_character{
    height:300px;
    margin-top:200px;
    margin-left:40px;
}
